Total: {{this.model.totalFoos}}
<button onclick={{action "test"}}>Test</button>
<button onclick={{action "unloadAll"}}>Unload all foos</button>
<input oninput={{action (mut this.value) value="target.value"}}>